{% extends "base.html" %}

{% block content %}
<h1>Adding a book</h1>
{% if current_user.email == "nikitvinogradov@gmail.com" %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.openlibid.label }}<br>
        {{ form.openlibid(class="form-control") }}<br>
        {% for error in form.openlibid.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% else %}
<h3>Uou're unable adding books</h3>
{% endif %}
{% endblock %}