{% extends "base.html" %}

{% block content %}
<h1>About us</h1>
<p>Данный проект представляет собой онлайн-библиотеку.</p>
<p>На представленном сайте можно зарегистрироваться и войти. Всего на сайте три вкладки, включая главную страницу с описанием.</p>
<p>Во вкладке «Библиотека» можно взять книгу, за раз только одну, при этом эта книга пропадает из доступа других пользователей. Добавлять новые книги можно только с аккаунта главного администратора.</p>
<p>Во вкладке «Моя книга» можно прочитать взятое в онлайн-библиотеке произведение, а также вернуть его после прочтения в библиотеку, куда отправляет сайт читателя при возвращении книги.</p>
{% endblock %}