{% extends "base.html" %}

{% block content %}
<h1>My book</h1>
{% if current_user.is_authenticated %}
    {% if current_user.books %}
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">{{ book.title }}</h4>
        <p>{{ book.content }}</p>
        </div>
        <br>
        <a href="/book_return" class="btn btn-secondary">Return the book</a>
    {% else %}
        <h2>You have no book</h2>
    {% endif %}
{% else %}
    <h2>Please, authorize first</h2>
{% endif %}
{% endblock %}